<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- excerpt from the base page template -->
        <style>{% include "css/style.css" %}</style>
        <title>Travelling Exploding Kittens</title>
    </head>

    <body>

        <header>
            <h1>Travelling Exploding Kittens</h1>
        </header>

        <main>
            <p>Ah, say what now?</p>
            <p>Travelling Exploding Kittens was first started at NDC Minnesota 2019. The Exploding Kittens party game is now travelling the world going from conference to conference.</p>
            <p>Follow it on <a href="https://twitter.com/ExplodingDevs" target="_blank">Twitter</a> to see where it's going next and see how you can play!</p>
            <div class="events">
                {% set people = collections.people%}
                {% for event in collections.events | reverse %}
                    <section class="event">
                        <div>
                            <h2>{{ event.data.title }}</h2>
                            <time datetime={{event.data.date}}>{{event.data.date | readableDate}}</time>
                        </div>
                        <div>
                            <h3>Game Master</h3>
                            <ul>
                                <li>
                                    {% for master in collections.people %}
                                        {% if master.data.title == event.data.master %}
                                            {% if master.data.profile %}
                                                <img class="profile" src={{master.data.profile}} />
                                            {% else %}
                                                <img class="profile" src="/static/img/exploding_kittens.png" />
                                            {% endif %}
                                            
                                            {% if master.data.twitter %}
                                                    <a href={{master.data.twitter}} target="_blank">
                                                        {{event.data.master}}
                                                    </a>
                                            {% else %}
                                                {{event.data.master}}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                        <div>
                            {% if event.data.champion.length > 0 %}
                            <h3>Champions</h3>
                            {% endif %}
                            <ul>
                                {% for champion in event.data.champion%}
                                    <li>
                                        {% for person in collections.people %}
                                            {% if person.data.title in champion %}
                                                {% if person.data.profile %}
                                                    <img class="profile" src={{person.data.profile}} />
                                                {% else %}
                                                    <img class="profile" src="/static/img/exploding_kittens.png" />
                                                {% endif %}
                                                {% if person.data.twitter %}
                                                    <a href={{person.data.twitter}} target="_blank">
                                                        {{champion}}
                                                    </a>
                                                {% else %}
                                                    {{champion}}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </main>
    </body>

</html>